<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard' %}">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'departments-list' %}">
                    <i class="bi bi-building"></i> Departments
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'patient-list' %}">
                    <i class="bi bi-people"></i> Patients
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'staff-list'%}">
                    <i class="bi bi-person-badge"></i> Staff
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'appointment-list'%}">
                    <i class="bi bi-calendar-check"></i> Appointments
                </a>
            </li>
        </ul>
    </div>
</div>